In [1]:
import pandas as pd
import numpy as np

In [2]:
def extract_index(row):
    size, summ, idd = map(int, row["index"].split("_"))
    return pd.Series({"size": size, "sum": summ, "id": idd})

In [3]:
def prepare_data(df):
    df = df.join(df.apply(extract_index, axis=1))
    df.columns = map(str.strip, df.columns)
    return df

In [21]:
def get_winner(value):
    if np.abs(value) < 10**-3:
        return "D"
    elif value < 0:
        return "R"
    return "C"

def get_description(df):
    desk = df[["size", "sum", "value"]].groupby(["size", "sum"]).describe()
    desk = desk["value"]
    desk["is_det"] = desk.apply(lambda row: np.sign(row["min"]) == np.sign(row["max"]), axis=1)
    desk["winner"] = desk["mean"].apply(get_winner)
    return desk[["is_det", "winner", "min", "max"]]

In [24]:
def process_file(path):
    df = pd.read_csv(path)
    df = prepare_data(df)
    return get_description(df)

In [25]:
process_file("one_cycle_dseki_r.csv")

          is_det winner       min       max
size sum
2    1      True      D  0.000000  0.000000
3    1      True      D  0.000000  0.000000
     2      True      C  0.333333  0.333333
4    1      True      D  0.000000  0.000000
     2      True      C  0.333333  0.333333
     3      True      C  0.200000  0.200000
5    1      True      D  0.000000  0.000000
     2      True      C  0.333333  0.333333
     3      True      C  0.200000  0.200000
     4      True      C  0.142857  0.142857
6    1      True      D  0.000000  0.000000
     2      True      C  0.333333  0.333333
     3      True      C  0.200000  0.200000
     4      True      C  0.142857  0.142857
     5      True      C  0.111111  0.111111

In [26]:
process_file("one_cycle_dseki_c.csv")

          is_det winner       min       max
size sum
2    1      True      D  0.000000  0.000000
3    1      True      D  0.000000  0.000000
     2      True      R -0.333333 -0.333333
4    1      True      D  0.000000  0.000000
     2      True      R -0.333333 -0.333333
     3      True      R -0.200000 -0.200000
5    1      True      D  0.000000  0.000000
     2      True      R -0.333333 -0.333333
     3      True      R -0.200000 -0.200000
     4      True      R -0.142857 -0.142857
6    1      True      D  0.000000  0.000000
     2      True      R -0.333333 -0.333333
     3      True      R -0.200000 -0.200000
     4      True      R -0.142857 -0.142857
     5      True      R -0.111111 -0.111111

In [28]:
process_file("two_cycle_seki_c.csv")

          is_det winner       min       max
size sum
2    2      True      R -0.333333 -0.333333
     3      True      R -0.200000 -0.200000
3    2      True      R -0.333333 -0.333333
     3      True      R -0.200000 -0.200000
     4      True      R -0.142857 -0.142857
     5      True      R -0.111111 -0.111111
4    2      True      R -0.333333 -0.333333
     3      True      R -0.200000 -0.200000
     4      True      R -0.142857 -0.142857
     5      True      R -0.111111 -0.111111
5    2      True      R -0.333333 -0.333333
     3      True      R -0.200000 -0.200000
     4      True      R -0.142857 -0.142857
6    2      True      R -0.333333 -0.333333
     3      True      R -0.200000 -0.200000

In [29]:
process_file("two_cycle_seki_r.csv")

          is_det winner       min       max
size sum
2    2      True      C  0.333333  0.333333
     3      True      C  0.200000  0.200000
3    2      True      C  0.333333  0.333333
     3      True      C  0.200000  0.200000
     4      True      C  0.142857  0.142857
     5      True      C  0.111111  0.111111
4    2      True      C  0.333333  0.333333
     3      True      C  0.200000  0.200000
     4      True      C  0.142857  0.142857
     5      True      C  0.111111  0.111111
5    2      True      C  0.333333  0.333333
     3      True      C  0.200000  0.200000
     4      True      C  0.142857  0.142857
6    2      True      C  0.333333  0.333333
     3      True      C  0.200000  0.200000